/* About page styling */
.about-container {
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  text-align: center;
  padding: 5rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.segment {
  padding-bottom: 5rem;
}

.segment-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

a.mail-to {
  text-decoration: none;
}
