/* Library Page styles */


.library {
  margin-top: 2rem; /* not working */
}

a {
  text-decoration: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.floats {
  float: left;
}

.collection-album-container img {
  width: 100%;
}

.album-covers {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 74rem;
}

.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 30px;
}

.collection-album-container .image-container .label {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 20px 10px;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.5);
  bottom: -30px;
  opacity: 0;
  transition: bottom ease-out 0.3s, opacity ease 0.5s;
}

.collection-album-container .image-container:hover .label {
  bottom: 0;
  opacity: 1;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}
