/* Library Page styles */


.album {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.album-name {
  font-size: 1.1rem;
  font-weight: 300;
}

.artist-name {
  font-size: .8rem;
  font-weight: 300;
}

.album .label {
  position: absolute;
  width: 90%;
  left: 5%;
  padding: 20px 10px;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.5);
  bottom: 85px;
  opacity: 0;
  transition: bottom ease-out 0.3s, opacity ease 0.5s;
}

.album:hover .label {
  bottom: 30;
  opacity: 1;
}

.container a {
  padding-top: 3rem;
  text-decoration: none;
}

a:hover {
  color: rgb(233,50,117);
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.floats {
  float: left;
}

.container img {
  width: 100%;
}

.album-covers {
  position: relative;
}

.collection-album-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px 30px;
}

.collection-album-container .image-container .label {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 20px 10px;
  font-size: 0.8rem;
  color: rgba(255,255,255,0.6);
  background: rgba(0,0,0,0.5);
  bottom: -30px;
  opacity: 0;
  transition: bottom ease-out 0.3s, opacity ease 0.5s;
}

.collection-album-container .image-container:hover .label {
  bottom: 0;
  opacity: 1;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}
