.player-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 100;
  transition: opacity 0.3s ease-out,
              height 0.3s ease-out;
  opacity: 0;
  height: 0;
}

.player-bar.active {
  height: 150px;
  opacity: 1;
}

button {
  padding-left: 8%;
  padding-right: 8%;
  font-size: 1.6rem;
  color: #DDDDDD;
}

.seek-bar {
  width: 100%;
}

.player-bar button:hover {
  color: #DDDDDD;
}

.current-time {
  position: absolute;
  color: #DDDDDD;
}
.total-time {
  text-align: right;
  color: #DDDDDD;
}

button.close {
  position: absolute;
  right: 0;
  padding: 15px;
}

.volume-icon {
  padding-left: 1rem;
  font-size: 30px;
  color: #DDDDDD;
}

.player-bar .artist-name {
  color: #DDDDDD;
}

.song-name {
  padding-top: 10px;
  color: #DDDDDD;
}
