.App {
  text-align: center;
  font-family: 'Lato'
}

* {
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}

nav {
  padding: 2.5rem 5%;
  border-bottom: 1px solid #E9E9E9;
}

#logo {
  font-weight: 700;
  font-size: .85em;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: 2px solid #E9E9E9;
  padding: 1rem;
  text-decoration: none;
  color: #424652;
  float: left;
  margin-top: 1rem;
}

nav > a {
  float: right;
  padding-right: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Landing Page styles */

.hero-title {
  display: inline-block;
  font-size: 9rem;
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
}

.hero-content {
  position: relative;
  min-height: 600px;
  background:
  linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.point {
  width: 33%;
  float: left;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.point > h2 {
  font-size: 30px;
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
   color: rgb(233,50,117);
   font-size: 5rem;
}

/* Library Page styles */

.library {

}

.album-covers {
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 74rem;
}

.collection-album-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 40rem;
  width: 25%;
}
